<div class="button-set">
  <button class="button grey tiny"><i class="icon-home"></i> Home</button>
  <button class="button yellow tiny"><i class="icon-cogs"></i> Settings</button>
  <button class="button red tiny">
    <i class="icon-download-alt"></i> Download
  </button>
  <button class="button grey"><i class="icon-home"></i> Home</button>
  <button class="button yellow"><i class="icon-cogs"></i> Settings</button>
  <button class="button red"><i class="icon-download-alt"></i> Download</button>
  <button class="button grey giant"><i class="icon-home"></i> Home</button>
  <button class="button yellow giant">
    <i class="icon-cogs"></i> Settings
  </button>
  <button class="button red giant">
    <i class="icon-download-alt"></i> Download
  </button>
</div>
